html, body {
    height: 100%;
    margin: 0;
    background-color: #F2F5F9;
}
.kcLoginClass {
    width: 100%;
    max-width: 500px;
    padding-top: 10%;
}
.kcBodyClass {
    background-color: #F2F5F9 !important;
}
.login-pf body {
    background: unset;
}
.kcLocaleMainClass {
    display: none;
}
.kcHeaderWrapperClass {
    display: none;
}
.kcFormCardClass {
    border-top: 0px solid;
    margin-bottom: 100px
}
.kcFormSettingClass {
    display: none !important;
}
.kcInfoAreaWrapperClass {
    display: none !important;
}
.kcLabelClass {
    display: none !important;
}
.kcFormPasswordVisibilityButtonClass {
    display: none !important;
}
#username::placeholder,
#password::placeholder {
    color: gray;
    opacity: 0.7;
}
.container {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 40px;
    padding-left: unset !important;
    bottom: unset !important;
  } 
.left-section, .right-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    flex: 1;
}

.left-section {
    margin-right: 50px;
}

.description {
    color: #333;
    line-height: 1.4;
}

.legal-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    width: 100%;
    padding-bottom: 3px;
    border-bottom: 1px solid #cfdaf5;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    padding: 20px;
  }